# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mcyru\OneDrive - Technological University Dublin\Year2\Semester2\Advanced Programming\Labs\Lab2\Lab2Part4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
